@import "common.scss";

$banner-height: 556px;
.banner-wrap {
    height: $banner-height;

    #banner {
        width: 1920px;
        height: $banner-height;
        margin: 0 auto 0 -960px;
        position: absolute;
        left: 50%;

        #banner-container {
            position: absolute;
            top: 0;
            //left: -1920px;

            width: 9600px;
            height: $banner-height;

            img {
                float: left;
            }
        }

        &:hover .banner-btn {
            display: block;
        }
        .banner-btn {
            display: none;
            cursor: pointer;
            line-height: 40px;
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            position: absolute;
            z-index: 2;
            top: 50%;
            margin-top: -20px;
            //background-color: RGBA(255, 255, 255, .75);
            color: $red;
            transform: scaleY(2.5);
        }
        #prev {
            left: 5%;
        }
        #next {
            right: 5%;
        }
        #buttons {
            position: absolute;
            z-index: 2;
            text-align: center;
            width: 400px;
            bottom: 20px;
            left: 50%;
            margin-left: -200px;

            span {
                display: inline-block;
                width: 18px;
                height: 18px;
                margin: 0 2px;
                line-height: 17px;
                font-size: 12px;
                border-radius: 9px;
                color: #fff;
                background: rgba(0,0,0,.5);
                cursor: pointer;
            }
            .on {
                background: $red;
            }
        }
    }
}

.line {
    margin: 20px 0;
    border-bottom: 2px solid $red;
    position: relative;
    min-width: $width;

    .line-arrow {
        position: absolute;
        top: -11px;
        left: 50%;
        margin-left: -36px;
    }
}

.news-logo {
    display: block;
    margin: 5px auto;
}

.news {
    @include center;
    height: 500px;

    .news-left {
        width: 550px;
        height: 480px;
        position: relative;
        float: left;
        margin-left: 10px;

        .news-left-content {
            width: 510px;
            height: 146px;
            position: absolute;
            bottom: 0;
            padding: 0 20px;
            background: rgba(255,255,255, .7);

            a {
                display: block;
                cursor: pointer;
                text-decoration: none;
                color: #595757;
            }
            .news-left-title {
                text-overflow: ellipsis;
                white-space:nowrap;
                width: 520px;
                overflow: hidden;
                font-size: 18px;
                line-height: 2.5em;
            }
            .news-left-detail {
                font-size: 14px;
                line-height: 1.5em;
            }
        }
        img {
            width: 550px;
            height: 480px;
        }
    }

    .news-right {
        width: 580px;
        height: 480px;
        float: left;
        margin-left: 20px;

        .news-right-one {
            width: 575px;
            height: 135px;
            border-bottom: 2px solid #dedede;
            margin: 2px 0 32px;

            .news-right-date {
                width: 124px;
                height: 124px;
                float: left;
                background: $red;
                color: #fff;
                font-size: 48px;
                line-height: 86px;
                text-align: center;
                position: relative;

                .news-date-year {
                    position: absolute;
                    bottom: 0;
                    width: 124px;
                    height: 38px;
                    font-size: 20px;
                    line-height: 36px;
                    background: #585657;
                }
            }

            .news-right-content {
                width: 420px;
                height: 124px;
                float: left;
                margin: 0 15px;

                .news-right-title {
                    text-overflow: ellipsis;
                    white-space:nowrap;
                    width: 420px;
                    overflow: hidden;
                    display: block;
                    cursor: pointer;
                    text-decoration: none;
                    color: #2e2e2e;
                    font-size: 20px;
                    line-height: 2em;
                }

                .news-right-detail {
                    display: block;
                    cursor: pointer;
                    text-decoration: none;
                    font-size: 14px;
                    line-height: 1.5em;
                    color: #828282
                }
            }
        }
    }
}

.honor {
    @include center
}